{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>فروشگاه</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="{% static 'js/load.js' %}" defer></script>
<!-- nav bar -->
<nav class="navbar navbar-expand-md navbar-dark backNav justify-content-between">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">برند</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <form class="d-flex ml-5">
                <input class="form-control me-2" type="search" placeholder="جستجو" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">جستجو</button>
            </form>

            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link text-white" href="#">ثبت سفارش</a>
                </li>
                <li class="nav-item text-white">
                    <a class="nav-link text-white" href="#">تماس</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">فروشگاه</a>
                </li>
                <li class="nav-item dropdown">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        دسته بندی محصولات
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">انگشتر</a>
                        <a class="dropdown-item" href="#">دست بند</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<!-- slider -->
<div class="container" style="background-color: #fff">
    <div class="row">
        <div class="col-md">
            <div id="demo" class="carousel slide ml-auto align-self-center" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators bg-dark">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static '1.jpg' %}" alt="Los Angeles" width="1150" height="450">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static '2.jpg' %}" alt="Chicago" width="1150" height="450">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static '3.jpg' %}" alt="New York" width="1150" height="450">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon bg-dark"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon bg-dark"></span>
                </a>

            </div>
        </div>
    </div>
</div>
<br>
<!-- features -->
<section id="features">

    <div class="row">
        <div class="feature-box col-sm-4">
            <i class="icon fas fa-ring fa-4x"></i>
            <h3 id="titleBox">بیشترین تنوع انگشتر</h3>
            <p>بیش از ۲۳۰۰ نوع</p>
        </div>

        <div class="feature-box col-sm-4">
            <i class="icon fas fa-cart-plus fa-4x"></i>
            <h3 id="titleBox">امکان ارسال پستی</h3>
            <p>ارسال پستی به سراسر نقاط کشور</p>
        </div>

        <div class="feature-box col-sm-4">
            <i class="icon fas fa-calendar-check fa-4x"></i>
            <h3 id="titleBox">ضمانت</h3>
            <p>ضمانت ۹۹ ساله</p>
        </div>
    </div>

</section>
<br>
<div id="app">
    <!-- here is where our products might added by js -->
</div>
<br>
<div class="row text_in_bottom">
  <div class="col-sm-3">
    <h5>لینک های مرتبط</h5>
    <hr>
  </div>
  <div class="col-sm-3">
    <h5>راه های تماس</h5>
    <hr>
    <ul>
      <li>تلفن ثابت</li>
      <li>تلفن همراه</li>
      <li>آدرس ایمیل</li>
    </ul>
  </div>
  <div class="col-sm-3">
    <h5>قوانین و مقررات</h5>
    <hr>
    <ul>
      <li>قوانین سایت</li>
      <li>شرایط بازگرداندن سفارش</li>
      <li>حفظ حریم شخصی</li>
    </ul>
  </div>
  <div class="col-sm-3">
    <h5>آدرس فروشگاه</h5>
    <hr>
    <ul>
      <li>آدرس محل فروشگاه</li>
    </ul>
  </div>
</div>
</body>
</html>